body{
    text-align: center;
    color: green;
    font-size: 16px;
}
.retangulo{ 
    width: 400px;
    height: 200px;
    border: 1px solid red;
    background-color: #eee;
    padding: 10px;
    margin: 5px;
}
